<h2> USERS </h2>
<% @allUsers.each do |u| %>
	<p><%= "#{u.username} #{u.email} #{u.age}" %></p>
<% end %>

<h2> CATS </h2>
<% @allCats.each do |c| %>
	<p><%= c.name %></p>
<% end %>

<h2> TODO </h2>
<% @allTodos.each do |t| %>
	<p><%= "#{t.tasks} #{t.finished}" %></p>
<% end %>
